extends ../layout

block content

  if datos1 && profes
    -var modulo     = JSON.parse(datos1)
    -var profesores = JSON.parse(profes)
    //-var a          = JSON.parse(alums)
    -var alumnos    = JSON.parse(datos3)
    .card.info
      h4.card-header  #{modulo.siglas} - #{modulo.nombre} 
      .card-body
        form(method='POST' action='/modulos/'+ modulo.id)
          div.row
            div.form-group.col-md-4
              label(for='curso') Curso
              input#curso.form-control(type='text', value=modulo.curso, name='curso', disabled='disabled')
            div.form-group.col-md-4
              label(for='nombre') Nombre
              input#nombre.form-control(type='text', value=modulo.nombre, name='nombre', disabled='disabled')
            div.form-group.col-md-4
              label(for='ciclo') Ciclo
              input#ciclo.form-control(type='text', value=modulo.ciclo, name='ciclo', disabled='disabled')

          div.row
            div.form-group.col-md-4
              label(for='horas_totales') Horas totales
              input#horas_totales.form-control(type='text', value=modulo.horas_totales, name='horas_totales', disabled='disabled')
            div.form-group.col-md-4
              label(for='horas_semanales') Horas semanales
              input#horas_semanales.form-control(type='text', value=modulo.horas_semanales, name='horas_semanales', disabled='disabled')
            div.form-group.col-md-4
              label(for='num_resultados') Número de resultados
              input#num_resultados.form-control(type='text', value=modulo.num_resultados, name='num_resultados', disabled='disabled')
   
          h4 Resultados de aprendizaje (pesos)
          div.row
            - var i = 0
            while ++i <= modulo.num_resultados
              -var peso  = 'r'+i+'_peso'
              -var valor = eval('modulo.r'+i+'_peso')
              div.col-lg-1
                label(for=peso) R#{i}
                input.form-control(type='text', value=valor,  id=peso, name=peso)

          h4.mt-4 Profesor titular
          each prof in profesores
            div.row
              if modulo.profesor_id == prof.id
                input.form-control.col-1(type='radio', value=prof.id,  name='profesor', id='profesor'+prof.id 'checked')
                label.col-11(for='profesor'+prof.id) #{prof.nombre} #{prof.apellido1} #{prof.apellido2} 
              else
                input.form-control.col-1(type='radio', value=prof.id,  name='profesor', id='profesor'+prof.id)
                label.col-11(for='profesor'+prof.id) #{prof.nombre} #{prof.apellido1} #{prof.apellido2} 
          
          h4.mt-4 Alumnos matriculados
          each alum in alumnos
            div.row 
            if alum.checked
              input.form-control.col-1(type='checkbox', value=alum.id,  name='alumno', id='alumno'+alum.id, checked)
              label.col-10(for='alumno'+alum.id) #{alum.nombre} #{alum.apellido1} #{alum.apellido2}  #{alum.curso}  #{alum.checked}
            else  
              input.form-control.col-1(type='checkbox', value=alum.id,  name='alumno', id='alumno'+alum.id)
              label.col-10(for='alumno'+alum.id) #{alum.nombre} #{alum.apellido1} #{alum.apellido2}  #{alum.curso} #{alum.checked}
